node_modules
json/token.json
package-lock.json
package.json
buddy-screenshot.png
.gitignore
.gitattributes
save.js
save1.1.js
sexWords.txt
buddy-screenshot.png
image
getallimgurimages.txt
newindex.save.js
scraper/scraper.js
